(
    spawn_rate: 0.1,
    spawn_amount: 10,
    emission_shape: Point,
    lifetime: (1.0, 0.5),
    direction: Some(((0, 1), 0.1)),
    linear_speed: Some((100, 1)),
    linear_acceleration: Some((0, 0)),
    angular_speed: Some((0, 0)),
    angular_acceleration: Some((0, 0)),
    gravity_speed: Some((500, 0.5)),
    gravity_direction: Some(((0, -1), 0)),
    scale: Some((100., 0)),
    linear_damp: Some((20, 0.8)),
    angular_damp: Some((10, 0)),
    scale_curve: Some(
        MultiCurve(
            points: [
                (10, 0, None),
                (
                    30,
                    1.0,
                    Some(BounceOut),
                ),
            ],
        ),
    ),
    color_curve: Some(
        MultiCurve(
            points: [
                (
                    LinearRgba(
                        red: 1.0,
                        green: 1.0,
                        blue: 1.0,
                        alpha: 1.0,
                    ),
                    0,
                    None,
                ),
                (
                    LinearRgba(
                        red: 1.0,
                        green: 1.0,
                        blue: 0.5,
                        alpha: 0.0,
                    ),
                    1.0,
                    Some(SineInOut),
                ),
            ],
        ),
    ),
)
