(
    spawn_rate: 0.05,
    spawn_amount: 100,
    emission_shape: Circle(120),
    lifetime: (2.0, 0.5),
    direction: Some(((0, 1), 0.5)),
    linear_speed: Some((300, 1)),
    linear_acceleration: Some((0, 0)),
    angular_speed: Some((5, 0.5)),
    angular_acceleration: Some((0, 0)),
    gravity_speed: Some((300, 0)),
    gravity_direction: Some(((0, -1), 0)),
    scale: Some((100., 0)),
    linear_damp: Some((20, 0.8)),
    angular_damp: Some((10, 0)),
    scale_curve: Some(
        MultiCurve(
            points: [
                (50, 0, None),
                (300, 0.5, None),
                (10, 1.0, None),
            ],
        ),
    ),
    color_curve: Some(
        MultiCurve(
            points: [
                (
                    LinearRgba(
                        red: 50.0,
                        green: 50.0,
                        blue: 50.0,
                        alpha: 1.0,
                    ),
                    0,
                    None,
                ),
                (
                    LinearRgba(
                        red: 0.0,
                        green: 0.0,
                        blue: 10.0,
                        alpha: 1.0,
                    ),
                    0.2,
                    None,
                ),
                (
                    LinearRgba(
                        red: 2.0,
                        green: 2.0,
                        blue: 5.0,
                        alpha: 1.0,
                    ),
                    0.3,
                    None,
                ),
                (
                    LinearRgba(
                        red: 0.1,
                        green: 0.1,
                        blue: 0.5,
                        alpha: 0.0,
                    ),
                    1.0,
                    None,
                ),
            ],
        ),
    ),
)
